@font-face {
    font-family: my-font;
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
    /* border: 1px solid black; */
    font-family: my-font;
    background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
    background-position: bottom left, top right;
    background-size: 250px;
    background-repeat: no-repeat;
    background-color: hsl(240, 78%, 98%);
    height: 100vh;
    font-weight: 700;
    color: hsl(232, 13%, 33%);
}
h1{
    text-align: center;
}

.inner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(234, 14%, 74%);
    font-size: 12px;
}

input{
    display: none;
}

.slider::before {
    content: " ";
    width: 22px;
    height: 22px;
    background-color: #FFFFFF;
    border-radius: 20px;
    transition: .4s;
}

.slider {
    display: flex;
    width: 50px;
    height: 25px;
    background: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 20px;
    align-items: center;
    padding: 1px 2px 1px 2px;
    margin: 0 15px;
    cursor: pointer;
}
.slider:hover{
    filter: grayscale(50%) brightness(120%);
}

#slider-input:checked + .slider::before{
    transition: .4s;
    transform: translateX(28px);
}

/* #slider-input:checked + .slider {
    background: red;

} */

.container {

    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 {

    border-radius: 7px;
    width: 230px;
    height: 300px;
    background-color: white;
    padding: 20px 15px 40px 15px;
}

.item2 {

    border-radius: 7px;
    width: 230px;
    height: 320px;
    padding: 40px 15px 40px 15px;
    color: #FFFFFF;
    background: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.plan-name {
    text-align: center;
}

.plan-rate {
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.plan-rate span {
    font-size: 30px;
}

.basic-line {
    border-top: 0.5px solid hsl(234, 14%, 74%);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.basic-line1 {
    border-bottom: 0.5px solid hsl(234, 14%, 74%);
}

button {
    background: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    margin-top: 18px;
    padding: 7px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: small;
    border-radius: 7px;
    border: none;
    cursor:pointer;
}

button:hover{
    background: #FFFFFF;
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(237, 63%, 64%);
}

.button-m {
    background: #FFFFFF;
    color: hsl(237, 63%, 64%);

}
.button-m:hover{
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}